<div>
  <div class="scrolling-wrapper">
    <div class="card" *ngFor="let list of lists">
      <div style="display: flex; flex-direction: row; align-items: center;">
        <h1 style="margin-right:auto;">{{ list.listname }}</h1>
        <img
        (click)="editTaskListName(list.id, 'Hello')"
        style="margin-right:0.5em;"
          src="https://cdn-icons-png.flaticon.com/512/1057/1057097.png"
          height="30"
        />
        <img
          (click)="deleteTaskList(list.id)"
          src="https://cdn-icons.flaticon.com/png/512/3178/premium/3178290.png?token=exp=1652580570~hmac=ae7b692186a161ff6544903cc167fd2c"
          height="30"
        />
      </div>

      <hr class="solid" />

      <div class="task-list-container">
        <div *ngFor="let task of list.tasks">
          <app-task [task]="task"></app-task>
        </div>

        <button class="task-add">
          <img
            src="https://cdn-icons.flaticon.com/png/512/4210/premium/4210903.png?token=exp=1652581478~hmac=1eb81e896b2d93fbbdd90c429bf8f7de"
            width="50"
          />
        </button>
      </div>
    </div>

    <button (click)="addNewTaskList()" class="card">
      <img
        src="https://cdn-icons.flaticon.com/png/512/4903/premium/4903802.png?token=exp=1652579314~hmac=cb8e6a275920b39fa91fc2d65b71310f"
        width="50"
      />
    </button>
  </div>
</div>
